body {
    margin: 0;
    background-color: rgb(241, 250, 250);
}

header {
    background-color: rgb(241, 250, 250);
    width: 100%;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid thin rgba(0, 128, 128, 0.836);
}
 
#homepage a {
    position: relative;
    font-size: 24px;
    text-decoration: none;
    color:#5F5F5F; 
}

span {
    color: teal;
}

#menunav nav ul {
    display: flex;
    width: 170px;
    font-size: 18px;
    list-style-type: none;   
}

#menunav nav ul li {
    width: 55px;
}

#menunav nav ul li a {
    text-decoration: none;
    color: rgb(95, 95, 95);   
}

#menunav nav ul li a:hover {
    color: teal;
    font-weight: bolder;
}

#link-quartos {
    position: relative;
    right: 10px;
}

#imagem-fundo {
    background-image: url(imagens/img-fundo.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    color: white;
    background-color: rgba(0, 128, 128, 0.541);
    border: 1px solid white;
    border-radius: 3px;
    width: 450px;
    height: 200px;
}

#banner h1 {
    font-size: 40px;
}

#banner p {
    font-size: 26px;
}

#seja-bem-vindo {
    position: relative;
    font-size: 22px;
    text-align: center;
    color: rgb(95, 95, 95);
    margin-top: 60px;
    margin-bottom: 60px;   
}

#seja-bem-vindo h2 {
    font-size: 36px;
}

#quartos {
    display: flex;
    flex-flow: row wrap ;
    justify-content: space-evenly;

}

#quartos a {
    text-decoration: none;
    color: rgb(95, 95, 95);
}

#quarto-solteiro {
    border-bottom: solid 3px teal;
}

#quarto-solteiro p {
    text-align: center;
}

#quarto-solteiro a {
    text-decoration: none;
}

#quarto-solteiro img {
    width: 300px;
    height: 180px;   
}

#quarto-casal {
    border-bottom: solid 3px;
    border-color: teal;
}

#quarto-casal a {
    text-decoration: none;
}

#quarto-casal p {
    text-align: center;
}

#quarto-casal img {
    width: 300px;
    height: 180px;
}

#quarto-familia {
    border-bottom: solid 3px;
    border-color: teal;
}

#quarto-familia a {
    text-decoration: none;
}

#quarto-familia p{
    text-align: center;
}
#quarto-familia img{
    width: 300px;
    height: 180px;
}

#rota {
    text-align: center;
    font-size: 22px;
    color: rgb(95, 95, 95);
    margin: 50px 50px;
    z-index: 3;
}

#rota h2 {
    font-size: 36px;
}

section {
    width: 100%;
}

#sobre {
    text-align: center;
    margin: 50px 50px;
    color: rgb(95, 95, 95);
}

#sobre-2-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.boxcard {
    display: block;
    width: 400px;
}

.paragrafo-e-imagem {
   display: flex;
   justify-content: space-between;
   align-items: center;

}
.img-card {
    width: 130px;
    height: 150px;
}

footer {
    background-color:rgb(1, 160, 160);
    height: 245px;
    width: 100%;
    color: rgb(241, 250, 250);
}

#footer-parte1 {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid teal;
    height: 65%;
    margin-left: auto;
    margin-right: auto;
}

#endereco {
    display: flex;
    position: relative;
    right: 30px;
}

#img-endereco {
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

#contato {
    display: flex;
    width: 200px;
    font-size: 22px;
}

#cel {
    display: flex;
    position: relative;   
    right: 20px;
}

#cel a {
    text-decoration: none;
    color: white;
}

#img-cel {
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

#reservas {
    display: flex;
    position: relative;  
}

#img-reservas {
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

#reservas a {
    display: flex;
    text-decoration: none;
    color: white;
}

#footer-parte2 {
    color: white;
    text-align: center;
}

#dev a:link {
    text-decoration: none;
    color: black;
}

#dev a:visited {
    color : black;
}
#dev a:hover {
    color: orange;
}

@media (max-width: 1074px) {
    #sobre-2-container {display: flex; flex-direction: column; align-items: center;}   
}

@media (max-width: 865px) {
    #endereco {display: flex; position: relative; right: 0px;}
    #cel {display: flex; position: relative; right: 0px;}
}

@media (max-width: 640px) {
    #banner {width: 350px; height: 150px;}
    #banner h1 {font-size: 36px;}
    #banner p {font-size: 18px;}
    footer {height: 400px;}
    #footer-parte2 {display: flex; flex-flow: column; justify-content: center; align-items: center; height: 140px;}
}

@media (max-width: 580px) {
    footer {max-width: 100%;}
    #footer-parte1 {display: flex; justify-content: center;}
    #contato {position: relative; width: 300px; text-align: center;}
    #contato p {text-align: center; width: 300px;}
}

@media (max-width: 480px) {
    #homepage {margin-left: 25px;}
    #sobre-2-container {width: 100%;}
}

@media (max-width: 400px) {
    header {width: 100%}
    #sobre-2-container {width: 100vw;}
    .boxcard {width: 100%;}
}

@media (max-width: 320px) {
    header {width: 320px;}
    #homepage {margin-left: 5px;}
    #menunav {margin-right: 0px;}
    #seja-bem-vindo h2 {font-size: 26px;}
    #seja-bem-vindo p {font-size: 18px;}
    #banner {width: 250px; height: 120px;}
    #banner h1 {font-size: 24px;}
    #banner p {font-size: 12px;}
    #rota h2 {font-size: 26px;}
    #rota p {font-size: 18px;}
    #sobre {margin: 40px 0px;}
    #sobre-2-container {margin-bottom: 50px;}
    .paragrafo-e-imagem {display: flex; flex-direction: column;}
    .boxcard {width: 100%;}
    h3 {text-align: center;}
}