body {
    margin: 0;
    background-color: rgb(241, 250, 250);
}

header {
    background-color: rgb(241, 250, 250);
    position: fixed;
    z-index: 2;
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: center;
    border-bottom: solid thin rgba(0, 128, 128, 0.836);
}
 
#homepage {
    position: relative;
    right: 10%;
}

#homepage a {
    position: relative;
    font-size: 24px;
    text-decoration: none; 
}

span {
    color: teal;
}

#menunav {
    position: relative;
    left: 15%;
    width: 230px;
}

#menunav nav ul {
    display: flex;
    width: 170px;
    font-size: 18px;
    list-style-type: none;   
}

#menunav nav ul li {
    width: 55px;
}

#menunav nav ul li a {
    text-decoration: none;
    color: rgb(95, 95, 95);   
}

#menunav nav ul li a:hover {
    color: teal;
    font-weight: bolder;
}

#link-quartos {
    position: relative;
    right: 10px;
}

#imagem-fundo {
    position: relative;
    max-width: 100%;
    top: 55px;
    height: 529px;
}

#imagem-fundo img {
    width: 100%; 
    height: 529px;
}

#banner {
    position: absolute;
    border: solid 1px;
    border-radius: 3px;
    width: 460px;
    height: 170px;
    background-color: rgba(3, 156, 156, 0.788);
    color: rgb(241, 250, 250);
    left: 32%;
    bottom: 150px;
    padding-bottom: 50px;
}

#banner-titulo {
    font-size: 48px;
    text-align: center;  
}

#banner-subtitulo {
    font-size: 26px;
    text-align: center;   
}

#seja-bem-vindo {
    position: relative;
    font-size: 22px;
    text-align: center;
    color: rgb(95, 95, 95);
    margin-top: 115px;
    margin-bottom: 60px;   
}

#seja-bem-vindo h2 {
    font-size: 36px;
}

#quartos {
    display: flex;
    position: relative;
    justify-content: space-around
}

#quartos a {
    text-decoration: none;
    color: rgb(95, 95, 95);
}

#quarto-solteiro {
    border-bottom: solid 3px teal;
}

#quarto-solteiro p {
    text-align: center;
}

#quarto-solteiro a {
    text-decoration: none;
}

#quarto-solteiro img {
    width: 300px;
    height: 180px;   
}

#quarto-casal {
    border-bottom: solid 3px;
    border-color: teal;
}

#quarto-casal a {
    text-decoration: none;
}

#quarto-casal p {
    text-align: center;
}

#quarto-casal img {
    width: 300px;
    height: 180px;
}

#quarto-familia {
    border-bottom: solid 3px;
    border-color: teal;
}

#quarto-familia a {
    text-decoration: none;
}

#quarto-familia p{
    text-align: center;
}
#quarto-familia img{
    width: 300px;
    height: 180px;
}

#rota {
    text-align: center;
    font-size: 22px;
    color: rgb(95, 95, 95);
    margin: 50px 50px;
    z-index: 3;
}

#rota h2 {
    font-size: 36px;
}

#sobre {
    text-align: center;
    margin: 50px 50px;
    color: rgb(95, 95, 95);
}

#sobre-2 {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 1000px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    color: rgb(95, 95, 95);
}

#a-pousada {
    position: relative;
    width: 400px;
    height: 150px;
    right: 100px;
}

#a-pousada img {
    position: relative;
    float: right;
    bottom: 100px;
    width: 90px;
    height: 110px;
    left: 70px;  
}

#nossos-quartos {
    width: 350px;
    height: 150px; 
}

#nossos-quartos img {
    position: relative;
    float: right;
    bottom: 130px;
    left: 90px;
    width: 90px;
    height: 110px;
}

#alimentacao {
    position: relative;
    right: 140px;
    width: 300px;
    height: 150px; 
}

#alimentacao img {
    position: relative;
    float: right;
    bottom: 100px;
    left: 175px;
    width: 90px;
    height: 110px;
}

#recepcao {
    position: relative;
    width: 380px;
    height: 150px; 
    left: 65px;
}

#recepcao img {
    position: relative;
    float: right;
    bottom: 65px;
    left: 60px;
    width: 90px;
    height: 110px;  
}

footer {
    background-color:rgb(1, 160, 160);
    height: 245px;
    color: rgb(241, 250, 250);
}

#footer-parte1 {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid teal;
    height: 65%;
    margin-left: auto;
    margin-right: auto;
}

#contato {
    display: flex;
    width: 200px;
    right: 90px;
    font-size: 22px;
}

#endereco {
    display: flex;
    position: relative;
    right: 30px;
}

#img-endereco {
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

#cel {
    display: flex;
    position: relative;   
    right: 20px;
}

#cel a {
    text-decoration: none;
    color: white;
}

#img-cel {
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

#reservas {
    display: flex;
    position: relative;  
}

#img-reservas {
    width: 45px;
    height: 45px;
    margin-right: 10px;
}
#footer-parte2 {
    color: white;
    text-align: center;
}

#dev a:link {
    text-decoration: none;
    color: black;
}

#dev a:visited {
    color : black;
}
#dev a:hover {
    color: orange;
}