body {
    margin: 0;
    background-color: rgb(241, 250, 250);
}

header {
    background-color: rgb(241, 250, 250);
    width: 100%;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid thin rgba(0, 128, 128, 0.836);
}

#homepage a {
    position: relative;
    font-size: 24px;
    text-decoration: none;
    color:#5F5F5F; 
}

span {
    color: teal;
}

#menunav nav ul {
    display: flex;
    width: 170px;
    font-size: 18px;
    list-style-type: none;   
}

#menunav nav ul li {
    width: 55px;
}

#menunav nav ul li a {
    text-decoration: none;
    color: rgb(95, 95, 95);   
}

#menunav nav ul li a:hover {
    color: teal;
    font-weight: bolder;
}

#link-quartos {
    position: relative;
    right: 10px;
}

.descricao-quartos {
    color: rgb(95, 95, 95);
    margin-bottom: 70px;
    font-size: 32px;
    text-align: center;
}

section {
    position: relative;
    top: 100px;
    margin-bottom: 80px;
}

#quarto-solteiro {
    margin-top: 00px;
}

.descricao-quartos p {
    font-size: 24px;
}

.informacoes-quarto-titulo {
    font-size: 32px;
    text-align: center;  
    color: rgb(95, 95, 95);
}

.fotos-quartos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.fotos-quartos img {  
    width: 417px;
    height: 250px;
}

.informacoes-quarto-lista {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    font-size: 24px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    border-bottom: solid teal;
    color: rgb(95, 95, 95);   
}

.informacoes-quarto-lista li {
    padding-right: 25px;
    padding-bottom: 15px;  
}

#informacoes-quarto-ultima-lista {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    font-size: 24px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    color: rgb(95, 95, 95); 
}

#informacoes-quarto-ultima-lista li {
    padding-right: 25px;
    padding-bottom: 15px; 
}

footer {
    background-color:rgb(1, 160, 160);
    width: 100%;
    color: rgb(241, 250, 250);
}

#footer-parte1 {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid teal;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

#container-endereco-cel-reservas {
    display: flex; width: 100%; justify-content: space-around;
}

#container-endereco-cel-reservas img{
    padding-right: 5px;
}

#container-contato p {
    font-size: 20px;
    width: 145px;
}

#endereco {
    display: flex;
    position: relative;
    align-items: center;
}

#img-endereco {
    width: 45px;
    height: 45px;
    align-items: center;
}

#contato {
    display: flex;
    font-size: 22px;
    align-items: center;
}

#cel {
    display: flex;
    position: relative;   
    align-items: center;
}

#cel a {
    text-decoration: none;
    color: white;
}

#img-cel {
    width: 45px;
    height: 45px;
}

#reservas {
    display: flex;
    position: relative; 
    align-items: center; 
}

#img-reservas {
    width: 45px;
    height: 45px;
}

#reservas a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

#footer-parte2 {
    color: white;
    text-align: center;
}

#footer-parte2 p {
    margin: 0%;
    padding: 5px;
}

#dev a:link {
    text-decoration: none;
    color: black;
}

#dev a:visited {
    color : black;
}
#dev a:hover {
    color: orange;
}

@media (max-width: 1250px) {
    .fotos-quartos {display: flex; justify-content: space-around;}
    .fotos-quartos :last-child {margin-top: 60px;}
}

@media (max-width: 1180px) {
    #footer-parte1 {display: flex; flex-direction: column; margin-bottom: 15px; padding-bottom: 20px}
    #container-contato p {font-size: 24px; width: max-content;}
    #container-endereco-cel-reservas {display: flex; justify-content: space-evenly; width: 100%;}
    #container-endereco-cel-reservas p :not(last-child) {margin-right: 10px;}
    #footer-parte2 {display: flex; flex-direction: column; align-items: space-evenly;}
    #footer-parte2 p {font-size: 18px; margin: 0px;}
}

@media (max-width: 990px) {
    #footer-parte1 {padding-bottom: 0px;}
    #container-endereco-cel-reservas {display: flex; flex-flow: row wrap; align-items: center;}
    #container-endereco-cel-reservas :not(last-child) {padding-bottom: 5px}
}

@media (max-width: 962px) {
    #endereco, #cel, #reservas, p {margin-left: 10px;}
}

@media (max-width: 865px) {
    #endereco {display: flex; position: relative; right: 0px;}
    #cel {display: flex; position: relative; right: 0px;}
}

@media (max-width: 834px) {
    .fotos-quartos img {margin: 20px 0px}
    .fotos-quartos :last-child {margin-top: 20px;}
}

@media (max-width: 640px) {
    h1 {font-size: 32px;}
    .informacoes-quarto-titulo {font-size: 28px;}
    .descricao-quartos {margin-bottom: 35px}
    #footer-parte1 {padding-bottom: 0px;}
    #container-endereco-cel-reservas {display: flex; flex-direction: column;}
    #footer-parte2 {display: flex; flex-flow: column; justify-content: center; align-items: center;}
}

@media (max-width: 580px) {
    #menunav {position: relative; margin-right: 0px;}
    footer {max-width: 100%;}
    #footer-parte1 {display: flex; justify-content: center;}
    #contato {position: relative; width: 300px; text-align: center;}
    #contato p {text-align: center; width: 300px;}  
}

@media (max-width: 426px) {
    #homepage {margin-left: 10px;}
    .informacoes-quarto-lista {display: block;}
    #informacoes-quarto-ultima-lista {display: block;}
}

@media (max-width: 405px) {
    .fotos-quartos img {width: 100%;}
    #container-endereco-cel-reservas {align-items: flex-start;}  
}

@media (max-width: 354px) {
    .informacoes-quarto-lista {display: block;}
    #informacoes-quarto-ultima-lista {display: block;} 
}

@media (max-width: 320px) {
    h1 {font-size: 26px}
    #homepage {margin-left: 10px;}
    #menunav {margin-right: 0px; left: 0px;}
    img {max-width: 320px;}
    .descricao-quartos p {font-size: 18px;}
    .informacoes-quarto-titulo {font-size: 26px;}
    .informacoes-quarto-lista {font-size: 18px;}
    #informacoes-quarto-ultima-lista {font-size: 18px;}
    #container-endereco-cel-reservas {align-items: flex-start;}
}